.maintitle {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    padding: 10px;
    border: 25px solid #000000;
    background-color: yellow;
    position: sticky;
    font-weight: bold;
}

form {
    padding : 10px; 
    border: 5px solid #000000;
    position: sticky;
    background-color: white;
}

body {
    background-color: red;
}

.About {
    padding : 100px;
    border: 5px solid #000000;
    margin: 25px;
    background-image: url("images/images.jpeg");
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-weight: bold;
}
