body {
    background-color: red;
    font-family: 'Roboto Mono', monospace;
   
}

.maintitle {
    /*font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;*/
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    border: 25px solid #000000;
    position: -webkit-sticky;
    background-color: yellow;
    position: sticky;
    top: 0;
    /*font-weight: bold; */   
}



.form {
    padding : 10px; 
    border: 5px solid #000000;
   background-color: white;
}

.About {
    padding : 100px;
    border: 5px solid #000000;
    background-image: url("images/images.jpeg");
    /*font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif; */
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
